{{- $ephemeral := false -}}{{/* Cloud or VM instances */}}
{{- $headless := false -}}{{/* No screen and keyboard */}}
{{- $personal := false -}}{{/* Should be using personal secrets */}}
{{- $laptop := false -}}{{/* Should use laptop-specific settings */}}
{{- $desktop := "unknown" -}}{{/* Desktop environment (e.g. GNOME) */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- if or (env "CODESPACES") (env "REMOTE_CONTAINER_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if eq (substr 0 9 $hostname) "brewcoua-" -}}
{{-     $personal = true -}}
{{-   else if stdinIsATTY -}}
{{-     $headless = promptBoolOnce . "headless" "headless" -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{- if not (hasPrefix (output "ls" "/sys/class/power_supply") "ls:") -}}
{{-   $laptop = true -}}
{{- end -}}

{{- if eq (output "ls" "/usr/bin/gnome-session") "/usr/bin/gnome-session\n" -}}
{{-   $desktop = "gnome" -}}
{{- else if stdinIsATTY -}}
{{-   $desktop = promptStringOnce . "desktop" "desktop" -}}
{{- end -}}

umask = 0o022

[data]
    hostname = {{ $hostname | quote }}
    osid = {{ $osID | quote }}
    
    ephemeral = {{ $ephemeral }}
    headless = {{ $headless }}
    personal = {{ $personal }}

    laptop = {{ $laptop }}
    desktop = {{ $desktop | quote }}

[github]
    refreshPeriod = "12h"
