{{ if and (eq .chezmoi.os "linux") (lookPath "nix") -}}
#!/bin/bash

export NIXPKGS_ALLOW_UNFREE=1

{{ $jetbrains := .jetbrains -}}

{{ range($jetbrains.ide) -}}
{{   $ide := . -}}
nix profile install flake:nixpkgs#jetbrains.{{ $ide }} --impure
{{   range($jetbrains.plugin) -}}
{{ $ide }} installPlugins {{ . }}
{{   end -}}
ln -s "$HOME/.nix-profile/share/applications/{{ $ide }}.desktop"  "$HOME/.local/share/applications"
{{ end -}}

{{ end -}}