#!/bin/bash

{{range(list
    "jetbrains-installer") }}
if ! systemctl is-enabled --user {{ . }}.service > /dev/null; then
    systemctl enable --user {{ . }}.service
fi
if ! systemctl is-enabled --user {{ . }}.timer > /dev/null; then
    systemctl enable --user {{ . }}.timer
fi
if ! systemctl is-active --user {{ . }}.timer > /dev/null; then
    systemctl start --user {{ . }}.timer
fi
{{ end }}

zsh $HOME/.local/share/scripts/install-jetbrains.zsh