{{ if (and (not .ephemeral) (not .headless)) -}}
#!/bin/bash

{{ range(.services) -}}
{{   $target := . -}}
{{   if hasKey $target "service" -}}
if ! systemctl is-enabled --user {{ $target.service }} > /dev/null; then
    systemctl enable --user {{ $target.service }}
fi
systemctl start --user {{ $target.service }}
{{   end -}}
{{   if hasKey $target "timer" -}}
if ! systemctl is-enabled --user {{ $target.timer }} > /dev/null; then
    systemctl enable --user {{ $target.timer }}
fi
if ! systemctl is-active --user {{ $target.timer }} > /dev/null; then
    systemctl start --user {{ $target.timer }}
fi
{{   end -}}
{{ end -}}

{{ end -}}