{{ if eq .chezmoi.os "linux" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

{{ $packageList := list -}}
{{ $repositoryList := list -}}
{{ $keyringedList := list -}}

{{ range .packages.apt -}}
{{   $package := . -}}
{{   if hasKey $package "name" -}}
{{     $packageList = mustAppend $packageList $package.name -}}
{{   end -}}
{{   if hasKey $package "repository" -}}
{{     if hasKey $package "keyring" -}}
{{       $keyringedList = mustAppend $keyringedList $package -}}
{{     else -}}
{{       $repositoryList = mustAppend $repositoryList $package.repository -}}
{{     end -}}
{{   end -}}
{{ end -}}
#!/bin/bash
set -eufo pipefail{{ "\n" }}

{{ range $keyringedList -}}
{{   $package := . -}}
if [ ! -f /etc/apt/sources.list.d/{{ $package.name }}.list ]; then
    curl -fsSL {{ $package.keyring.source }} | \
        {{ $sudo }}gpg --dearmor --output /usr/share/keyrings/{{ $package.keyring.name }}
    echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/{{ $package.keyring.name }}] {{ $package.repository }}" | \
        {{ $sudo }}tee /etc/apt/sources.list.d/{{ $package.name }}.list
fi
{{ end -}}

{{ range $repositoryList -}}
{{ $sudo }}add-apt-repository -y {{ . }}
{{ end -}}

{{ "\n" }}
{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packageList | join " " }}

{{ if lookPath "snap" -}}
{{   range .packages.snap -}}
if snap list {{ . }} &> /dev/null; then
    SNAP_NAME={{ . }}
    SNAP_INFO=$(snap info $SNAP_NAME)

    INSTALLED_VERSION=$(echo "$SNAP_INFO" | grep "installed:" | awk '{print $2}')
    
    CHANNEL_INFO=$(echo "$SNAP_INFO" | grep "channels:" -A 1 | tail -n 1)
    LATEST_VERSION=$(echo "$CHANNEL_INFO" | awk '{print $2}')
    CHANNEL=$(echo "$CHANNEL_INFO" | awk '{print $1}')
    
    if [ "$INSTALLED_VERSION" != "$LATEST_VERSION" ]; then
        echo "snap> Updating $SNAP_NAME ($CHANNEL $LATEST_VERSION)"
        {{ $sudo }}snap refresh $SNAP_NAME
    else
        echo "snap> $SNAP_NAME already at the latest version ($CHANNEL $LATEST_VERSION)"
    fi
else
    echo "snap> Installing {{ . }}"
    {{ $sudo }}snap install {{ . }}
fi
{{   end -}}
{{ end -}}

{{ end -}}